.col-md-8.col-md-offset-2
  .row
    .panel.panel-default
      %h2 edit pin
      .panel-body
        .current_image
          %label Current Image
          = image_tag @pin.image.url(:medium)
        = render 'form'
