=image_tag "cover.jpg", :class => "header"
.about-body.box.panel.panel-default
  =image_tag "tess.jpg", :class => "profile-pic"
  .about-text
    %h1 Hi, I'm Tess Norquay
    %p Readymade XOXO kickstarter wayfarers, meggings tilde banjo schlitz +1 mumblecore vice humblebrag beard venmo craft beer.
#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      = link_to (image_tag pin.image.url), pin
      .panel-body
        %h2= link_to pin.title, pin
