.header
  =image_tag "horton.jpg", :class => "ball ball-animation1"
  =image_tag "horton.jpg", :class => "ball ball-animation2"
  =image_tag "horton.jpg", :class => "ball ball-animation3"
  =image_tag "horton.jpg", :class => "ball ball-animation4"
  =image_tag "horton.jpg", :class => "ball ball-animation5"
  =image_tag "horton.jpg", :class => "ball ball-animation6"
  =image_tag "horton.jpg", :class => "ball ball-animation7"
  =image_tag "horton.jpg", :class => "ball ball-animation8"
  =image_tag "horton.jpg", :class => "ball ball-animation9"
  =image_tag "horton.jpg", :class => "ball ball-animation10"
  %h1 Tess Norquay
#about-body
  .about-intro
    =image_tag "tess.jpg", :class => "profile-pic"
    .about-text
      %h2 Hi, I'm Tess Norquay
      %p Vaporware craft beer typewriter, PBR&B normcore glossier trust fund man bun roof party chia you probably haven't heard of them cardigan tbh mlkshk. Brunch waistcoat green juice, banh mi edison bulb cornhole hell of beard pug fanny pack activated charcoal mumblecore meggings. Thundercats distillery synth, tofu blog etsy actually mlkshk kitsch bespoke taxidermy portland yr edison bulb. Food truck coloring book selfies butcher hammock, pour-over hexagon twee fam narwhal knausgaard tousled asymmetrical iPhone.
  =image_tag "leg.png", :class => "leg"
  =image_tag "foot.png", :class => "foot"
  %a{ :href => "#", :class => "button"}Contact Me
#pins-gallery
  #pins.transitions-enabled
    - @pins.each do |pin|
      .box.panel.panel-default
        = link_to (image_tag pin.image.url), pin
        .panel-body
          %h2= link_to pin.title, pin
