.header
  =image_tag "horton.jpg", :class => "ball ball-animation1"
  =image_tag "horton.jpg", :class => "ball ball-animation2"
  =image_tag "horton.jpg", :class => "ball ball-animation3"
  =image_tag "horton.jpg", :class => "ball ball-animation4"
  =image_tag "horton.jpg", :class => "ball ball-animation5"
  =image_tag "horton.jpg", :class => "ball ball-animation6"
  =image_tag "horton.jpg", :class => "ball ball-animation7"
  =image_tag "horton.jpg", :class => "ball ball-animation8"
  =image_tag "horton.jpg", :class => "ball ball-animation9"
  =image_tag "horton.jpg", :class => "ball ball-animation510"
  %h1 Tess Norquay
.about-body
  =image_tag "tess.jpg", :class => "profile-pic"
  .about-text
    %h2 Hi, I'm Tess Norquay
    %p Readymade XOXO kickstarter wayfarers, meggings tilde banjo schlitz +1 mumblecore vice humblebrag beard venmo craft beer.
#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      = link_to (image_tag pin.image.url), pin
      .panel-body
        %h2= link_to pin.title, pin
