#header-container
  .header
    .balls
      =javascript_include_tag 'bouncingBalls'
    %h1.main_title Tess Norquay
#about-body
  .about-intro
    .image-container
      =image_tag "tess.jpg", :class => "profile-pic"
    .about-text
      %h2 Hi, I'm Tess Norquay
      %p I’m a recent graduate of Massey University in Wellington. My work largely revolves around human experience, particularly my own world view as a woman.
      %p I use the medium of fashion due to my belief that clothes are the strongest visual communicators of our world views- whether we are conscious of this or not.
      %p When I’m not making clothes, which isn’t often, you can find me watching reality tv, and admiring the dogs of people I don’t know. <strong>norquaytess@gmail.com</strong>
      %a.button{ :href => "mailto:norquaytess@gmail.com"}Contact Me
#pins-gallery
  #pins.transitions-enabled
    - @pins.each do |pin|
      .panel.panel-default
        = link_to (image_tag pin.image.url), pin
        .panel-body
          %h2= link_to pin.title, pin
