%h1.press-title In the Press
#pins-gallery
  #pins.transitions-enabled
    - @media.each do |medium|
      .box.panel.panel-default
        = link_to image_tag(medium.image.url), medium.link
        .panel-body
          %h2= link_to medium.title, medium.link
          %h4= medium.description
