/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/basic'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

 @font-face {
    font-family: 'LemonMilk';
    font-style: normal;
    font-weight: 700;
    src: local('LemonMilk'), local('LemonMilk'), url('LemonMilk.otf') format('truetype')
  }

  @font-face {
     font-family: 'Apercu-Mono';
     font-style: normal;
     font-weight: 700;
     src: local('Apercu-Mono'), local('Apercu-Mono'), url('Apercu-Mono.otf') format('truetype')
   }

   $main_purple: #a300cc;
   $bright_orange: #f84a21;
   $main_white: #FFFFFF;
   $light_gray: #e7e7e7;
   $medium_gray: #868686;
   $dark_gray: #474747;


body {background-image:url('undies.png'); background-size:300px; background-repeat:repeat;}
textarea {min-height: 250px;}
.btn-primary {margin: 10px 0 10px 10px;}
.about-intro::after {content: ""; display:table; clear:both;}
.form-group {padding: 0 20px;}

//Fonts
h1 {font-family:LemonMilk; text-align:center; font-size:120px; color:$main_white; text-transform:uppercase;}
h2 {font-family:LemonMilk; font-size:22px; margin:0; padding:25px 10px;}
h3, h4, h5, h6 {font-family:Apercu-Mono;}
.press-title { text-shadow: 2px 2px $dark_gray }

//Nav
nav {
	box-shadow: 0 1px 2px 0 rgb(163, 0, 204);
  height: 100px;
  box-sizing: border-box;
	.navbar-brand {
    .handgesture:hover {background-color: $main_purple}
    img {width:55px; float:left; margin-left:30px; cursor:pointer;}
	}
}

nav.navbar.navbar-default {
  background-color:$main_purple;
  margin-bottom:0;
  padding-bottom:0;
  a {color: $main_white; font-size:20px; letter-spacing:1px; padding-left:25px; font-family:Apercu-Mono;}
}

.nav.navbar-nav.navbar-right {margin: 25px 25px 0 0}

//Sections
#header {width:100%; background-image:url('header3.png'); background-size:cover; background-position:center; height:700px;
  .main_title {margin-top:25%; position:absolute; top:0; left:0; width:100%; height:100%;}
}

#about-body {width:100%; background-color:$main_purple; color:$main_white; margin:60px 0; box-sizing:border-box; padding:20px;
  .image-container {width:20%; margin:10px; float:left;
    .profile-pic {width:100%; border-radius:5px; margin-top:20px;}
  }
  .about-text {float:left; box-sizing:border-box; padding:10px 20px; width:75%; position:relative;
    p { font-size: 17px; }
  }
}

#footer {box-shadow:0 1px 2px 0 rgb(163, 0, 204); border-top:1px solid $light_gray; width:100%; background-image:url('stickfigures.jpg'); background-repeat:repeat; background-size:350px; text-align:center; margin-top:80px; padding-bottom:30px;
  .footer-container {width:100%; margin-top:25px; margin-bottom:5px; text-align:center;
    .footer-button {padding-left:10px; text-align:center; background-color:$main_purple; display:inline-block; margin:10px; width:250px;
    }
  }
  .email {font-family:LemonMilk; background-color:$bright_orange; color:$main_white; font-size:18px; max-width:525px; margin-left:auto; margin-right:auto; text-align:center; padding:10px 0;}
}


#pins {margin:0 auto; width:100%;
  .panel {width: 320px; box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.22); border-radius:7px; text-align:center; box-sizing:border-box; padding:10px; margin:10px;
	  img {max-width:100%; height:auto;}
	  a {color: $dark_gray;}
    .user {font-size:12px; border-top:1px solid $light_gray; padding:15px; margin:0;}
	}
}

#edit_page {
	.current_image {
		img {display:block; margin:20px 0;}
	}
}

#pin_show {
  margin-top: 25px;
	.panel-heading { padding:20px;
	   img {width:100%; display:block; margin:0 auto;}
   }
	.panel-content {
    margin: 25px;
    .show-title {color:$dark_gray; font-size:30px; text-align:left; margin:0; margin-bottom:10px;}
		.description {color:$medium_gray; line-height:1.75;}
	}
	.panel-footer {padding: 20px 35px;
		p { margin: 0; }
		.user { padding-top: 8px; }
	}
}

.button {background-color:$bright_orange; color:$main_white; text-shadow:1px 1px $dark_gray; text-decoration:none; box-sizing:border-box; padding:10px; text-align:center; font-family:LemonMilk; cursor:pointer; font-size:30px; display:block; margin:20px 0;
  &:visited { color: $main_white; }
  &:hover {color: $main_white}
}

.leg {position:absolute; top:185px; right:325px;}
.foot {width:160px; text-align:center; margin-top:-55px; margin-left:-30px;}
.balls {width:100%; height:100%; position:absolute; left:0; right:0;}






@media (max-width: 1000px) {
  .leg {
    top: 275px;
    right: 180px;
    width: 175px;
  }
  .foot {
    top: 275px;
    right: 0;
    width: 150px;
  }
  #header {
    background-image: url('header5.jpg');
    height: 600px;
  }
}

@media (max-width: 900px) {
  .nav.navbar-nav.navbar-right {
    margin-right: 5px;
  }
  nav.navbar.navbar-default li {
    a { font-size: 15px;
        color: $main_white;
        letter-spacing: 1px;
        padding-left: 12px;
    &.smaller-things {
      font-size: 9px;
      padding-left: 2px;
    }
  }
    float: right;
  }
}

@media (max-width: 650px) {
  .profile-pic {
    margin-left: 20px;
  }
  .image-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .about-text {
    width: 100%;
  }
  .button {
    text-align: center;
    padding-left: 0px;
  }
  .foot {
    display: none;
  }
  .leg {
    display: none;
  }
  .main_title{
    font-size: 65px;
    margin-top: 35%;
  }
  nav {
    .navbar-brand {
      img {
        width: 35px;
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 400px) {
  nav.navbar.navbar-default li {
    a {
      font-size: 12px;
      padding-left: 5px;
    &.smaller-things {
      font-size: 9px;
      padding-left: 2px;
    }
    }
  }
  .main_title {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
  }
}
