/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/basic'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

 // @import 'bootstrap-sprockets';
 // @import 'bootstrap';

 @font-face {
    font-family: 'LemonMilk';
    font-style: normal;
    font-weight: 700;
    src: local('LemonMilk'), local('LemonMilk'), url('LemonMilk.otf') format('truetype')
  }

  @font-face {
     font-family: 'Apercu-Mono';
     font-style: normal;
     font-weight: 700;
     src: local('Apercu-Mono'), local('Apercu-Mono'), url('Apercu-Mono.otf') format('truetype')
   }

   $main_purple: #a300cc;
   $bright_orange: #f84a21;
   $main_white: #FFFFFF;
   $secondary_white: #f5f5f5;
   $light_gray: #e7e7e7;
   $medium_gray: #868686;
   $dark_gray: #474747;


body {background-image:url('undies.png'); background-size:300px; background-repeat:repeat; margin:0; padding:0;}
textarea {min-height: 250px;}
.btn-primary {margin: 10px 0 10px 10px;}
.about-intro::after {content: ""; display:table; clear:both;}
.form-group {padding: 0 20px;}

//Fonts
h1 {font-family:LemonMilk; text-align:center; font-size:120px; color:$main_white; text-transform:uppercase;}
h2 {font-family:LemonMilk; font-size:20px;}
h3, h4, h5, h6 {font-family:Apercu-Mono;}
p {font-family:verdana, arial, helvetica, sans-serif; font-size: 13px; line-height:18px;}
.press-title { text-shadow: 2px 2px $dark_gray }

//Nav
nav {box-shadow: 0 1px 2px 0 rgb(163, 0, 204); height: 100px;
	.navbar-brand {position:absolute; top:30px; left:20px;
    .handgesture:hover {background-color: $main_purple}
    img {width:30px; float:left; cursor:pointer;}
	}
}

nav.navbar.navbar-default {background-color:$main_purple; margin-bottom:0; padding-bottom:0;}

.nav.navbar-nav.navbar-right {position:absolute; top:30px; right:20px;
  li {display:inline-block; padding-left:15px;
      a {color: $main_white; font-size:15px; letter-spacing:1px; font-family:Apercu-Mono; text-decoration:none;
        &.admin-nav {font-size:8.5px; padding-left: 2px; padding-right: 2px;}
      }
  }}

//Sections
#header-container { width: 80%; margin-left: auto; margin-right: auto;
  .header {width:100%; background-image:url('header5.jpg'); background-size:cover; background-position:center; height:600px; position:relative;
    .main_title {position: absolute; bottom: 0; left: 15px; right: auto; font-size: 50px;}
    .balls {width:100%; height:100%; position:absolute; left:0; right:0;}
  }
}

#about-body {width:80%; background-color:$main_purple; color:$main_white; margin:60px 0; box-sizing:border-box; padding:20px; margin-left:auto; margin-right:auto;
  .image-container {width:50%; margin:10px; float:left;
    .profile-pic {width:100%; border-radius:5px; margin-top:0;}
  }
  .about-text {float:left; box-sizing:border-box; padding:10px; width:75%; position:relative;
    p { font-size: 17px;}
    h2 {margin: 2px;}
  }
}

#footer {box-shadow:0 1px 2px 0 rgb(163, 0, 204); border-top:1px solid $light_gray; width:100%; background-image:url('stickfigures.jpg'); background-repeat:repeat; background-size:350px; text-align:center; margin-top:80px; padding-bottom:30px;
  .footer-container {width:100%; margin-top:25px; margin-bottom:5px; text-align:center;
    .footer-button {padding-left:10px; text-align:center; background-color:$main_purple; display:inline-block; margin:10px; width:250px;
    }
  }
  .email {font-family:LemonMilk; background-color:$bright_orange; color:$main_white; font-size:18px; max-width:525px; margin-left:auto; margin-right:auto; text-align:center; padding:10px 0;}
}


#pins {margin:0 auto; width:100%;
  .panel {background-color:$main_white; border:1px solid transparent; width: 320px; box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.22); border-radius:7px; text-align:center; box-sizing:border-box; padding:10px; margin:10px;
	  img {max-width:100%; height:auto;}
	  a {color: $dark_gray;}
    .user {font-size:12px; border-top:1px solid $light_gray; padding:15px; margin:0;}
	}
}

#edit_page {
	.current_image {
		img {display:block; margin:20px 0;}
	}
}

#pin_show {
  .panel {background-color:$secondary_white; border:1px solid transparent; width:70%; margin-left:auto; margin-right:auto; margin-top:50px; padding:20px;
    .panel-heading {
       img {width:100%; display:block; margin:0 auto;}
     }
    .panel-content {padding:10px 20px; background-color:$main_white; border: solid 1px $light_gray; margin-top:5px;
      .show-title {color:$dark_gray; font-size:30px; text-align:left; margin:0; margin-bottom:10px;}
      .description {color:$medium_gray; line-height:1.75;}
    }
    .panel-footer {
      .user { padding-top: 8px; }
    }
  }
}

.button {background-color:$bright_orange; color:$main_white; text-shadow:1px 1px $dark_gray; text-decoration:none; box-sizing:border-box; padding:10px; text-align:center; font-family:LemonMilk; cursor:pointer; font-size:25px; display:block; margin:20px 0;
  &:visited { color: $main_white; }
  &:hover {color: $main_white}
}


@media (min-width: 1000px) {
  #header-container {
    .header {background-image:url('header3.png'); height:650px;
      .main_title {margin-top:32%; font-size: 110px;}
    }
  }
}

@media (min-width: 675px) {
  nav {
    .navbar-brand {top: 20px;
      img {width:55px; margin-left:30px; margin-top:-2px;}
    }
  }
  .nav.navbar-nav.navbar-right {top: 20px; right:25px;
    li {
      a {font-size:20px; padding-left:12px;
        &.admin-nav {font-size: 20px; padding-left: 5px; padding-right: 5px;}
      }
    }
  }
  #about-body {
    .image-container {width:25%; margin-left:auto; margin-right:auto; display:inline-block;
      .profile-pic {margin-left:20px;}
    }
    .about-text {width:50%; display:inline-block; margin-left: 50px;}
  }
}
